.btn-shop{
	font-size: 19px;
	width: 200px;
	padding: 15px 20px;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-family: 'Bebas Neue', serif;
	font-weight: bold;
	border: 2px solid #FF3B30;
	background: transparent;
	color: #FF3B30;
	cursor: pointer;
	-webkit-transition: color 1s linear;
	}

.btn-shop:hover {
	border: 2px solid #FFC107;
	background: transparent;
	color: #FFC107;
	transition: 0.5s;
	-webkit-transition: 1s;
}

