.navbar {
	width: 65%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	justify-content: flex-end; 
}

.navbar ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;	
	font-size: 18px;
	letter-spacing: 0.1px;
}



.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: white;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}


.navbar ul li:hover::after {
	width: 100%;

}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: none;
    padding: 15px;
}
